.DS_Store
bin/
obj/
builds/
BenchmarkDotNet.Artifacts/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.user
.idea/.idea.ENV Game Framework/.idea/misc.xml
.idea/.idea.ENV Game Framework/.idea/.name
.idea/.idea.ENV Game Framework/.idea/workspace.xml
